@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <!--
            <ol class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
    -->
    <!-- Wrapper for slides -->
    <img src="~/img/1.png" />
    <div class="carousel-inner">
        <div class="item active">

            <div class="fill" style="background-image: url('~/img/1.png')"></div>
            <div class="carousel-caption">
                <h2>SCHEDULE YOUR NEXT APPOIMTMENT</h2>
                <h5>Scroll down for details</h5>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('img/2.png');"></div>
            <div class="carousel-caption">
                <h2>SCHEDULE YOUR NEXT APPOIMTMENT</h2>
                <h5>Scroll down for details</h5>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('img/3.png');"></div>
            <div class="carousel-caption">
                <h2>SCHEDULE YOUR NEXT APPOIMTMENT</h2>
                <h5>Scroll down for details</h5>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US
            </h2>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        DATA & TIME
                    </h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                    </p>


                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <p>
                                <h4>STORE HOURS</h4>
                            </p>
                            MON-WED
                            <p>08:00 AM - 05:00 PM</p>

                            THU
                            <p>08:00 AM - 04:00 PM</p>

                            FRI
                            <p>08:00 AM - 01:00 PM</p>

                            SAT
                            <p>CLOSE</p>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <h4>
                                CHOOSE YOUR SERVICES
                            </h4>
                            <h6>Please select the type of service(s) needed</h6>

                            <br />
                            <p>
                                <input type="checkbox">
                                Transmission
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>

                            <input type="checkbox">
                            Other



                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        YOUR VEHICLE
                    </h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="YEAR OF CAR">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR CAR">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control input-lg" placeholder="WRITE YOUR MESSAGE">
                            </div>
                        </div>
                        <br />
                        <h4>PERSONAL DETAILS</h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="FIRST NAME">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SECEND NAME">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="EMAIL">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="PHONE NUMBER">
                            </div>
                        </div>
                        <br />
                    <p>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-lg">CLEAR</button>
                            </div>
                            <div class="col-md-2 col-md-offset-7">
                                <button type="button" class="btn btn-primary btn-lg">SEND</button>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>SING UP TO SPECIAL OFFERS</h3><br />
            <p>Enter your e-mail and you will get the best</p>
            offers we have directly to your indox
            <br /><br />
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ENTER HERE YOUR E-MAIL">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">SEND</button>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>TELL TO YOUR FRIENDS</h3><br />
            <p>Some of your friends may kile to visit if you</p>
            recommend us. They'll trust your taste.
            <br /><br />
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <div class="input-group">
                        Facebook    Twitter

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

</script>




<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
