@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US
            </h2>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        DATA & TIME
                    </h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                    </p>


                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <p>
                                <h4>STORE HOURS</h4>
                            </p>
                            MON-WED
                            <p>08:00 AM - 05:00 PM</p>

                            THU
                            <p>08:00 AM - 04:00 PM</p>

                            FRI
                            <p>08:00 AM - 01:00 PM</p>

                            SAT
                            <p>CLOSE</p>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <h4>
                                CHOOSE YOUR SERVICES
                            </h4>
                            <h6>Please select the type of service(s) needed</h6>

                            <br />
                            <p>
                                <input type="checkbox">
                                Transmission
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>

                            <input type="checkbox">
                            Other



                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        YOUR VEHICLE
                    </h4>
                    <p>
                        <form action="action_page.php"> <!--onsubmit="return Valid()"-->
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <input id="yearCar" class="form-control input-lg" placeholder="YEAR OF CAR">
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <input id="nameCar" class="form-control input-lg" placeholder="SELECT YOUR CAR">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <input id="mess" class="form-control input-lg" placeholder="WRITE YOUR MESSAGE">
                                </div>
                            </div>
                            <br />
                            <h4>PERSONAL DETAILS</h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input id="name" class="form-control input-lg" placeholder="FIRST NAME">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input id="secName" class="form-control input-lg" placeholder="SECEND NAME">
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">

                                <input type="email" id="email" required="required" class="form-control input-lg" placeholder="EMAIL">

                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input id="phone" class="form-control input-lg" placeholder="PHONE NUMBER">
                            </div>
                        </div>
                        <br />
                    <p>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="reset" class="btn btn-default btn-lg">CLEAR</button>
                            </div>
                            <div class="col-md-2 col-md-offset-7">
                                <button type="submit" class="btn btn-primary btn-lg" onclick="alert('Thank You!')">SEND</button>
                            </div>
                        </div>
                    </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>SING UP TO SPECIAL OFFERS</h3><br />
            <p>Enter your e-mail and you will get the best</p>
            offers we have directly to your indox
            <br /><br />
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ENTER HERE YOUR E-MAIL">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">SEND</button>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>TELL TO YOUR FRIENDS</h3><br />
            <p>Some of your friends may kile to visit if you</p>
            recommend us. They'll trust your taste.
            <br /><br />
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <div class="input-group">
                        Facebook    Twitter

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Valifdate email
<form id="form1">
    <label for="email">Email Address</label><br />
    <input type="email" id="email" required="required" /><br />
    <input type="submit" value="submit" />
</form>

<script>
    $('#form1').validate();
</script>-->


<script>
    //$('.carousel').carousel({
    //    interval: 5000 //changes the speed
    //})

</script>

<script lang="en" type="text/javascript">

    GetJson

    function GetJson() {

        $.ajax({
            type: "GET",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/GetJson',
            success: function (result) {
                alert(JSON.stringify(result));
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred.." + xhr.responseText);
            }
        });
    }

    function GetSampleData() {

        $.ajax({
            type: "GET",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/GetAll',
            success: function (result) {
                //in result get data from server
                alert(JSON.stringify(result));
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred.." + xhr.responseText);
            }
        });
    }

    function PostData() {

        var sample = GetSampleDataList(3);
        var dataToSend = {
            "jsonString": JSON.stringify(sample)
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/AddData',
            context: document.body,
            data: dataToSend,
            success: function (result) {

                alert(JSON.stringify(result));
            },
            error: function (xhr) {

                console.log(xhr.responseText);
                alert("Error has occurred.." + xhr.responseText);
            }
        });
    }
    function GetSampleDataList(count) {
        var userDetails = {};
        var usersList = [];
        for (var i = 1; i <= count; i++) {
            userDetails["UserId"] = i;
            userDetails["UserName"] = "User- " + i;
            userDetails["Company"] = "Company- " + i;
            usersList.push(userDetails);
        }
        return usersList;
    }

    function AddOne() {

        var sample = GetSampleDataList(1)[0];
        var dataToSend = {
            "jsonString": JSON.stringify(sample)
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/AddOne',
            context: document.body,
            data: dataToSend,
            success: function (result) {

                alert(JSON.stringify(result));
            },
            error: function (xhr) {

                console.log(xhr.responseText);
                alert("Error has occurred.." + xhr.responseText);
            }
        });
    }
        /*function AddEvent() {

            var ev = ;//set my data!!!!!!!
            var dataToSend = {
                "jsonString": JSON.stringify(ev)
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Home/AddEvent',
                context: document.body,
                data: dataToSend,
                success: function (result) {

                    alert(JSON.stringify(result));
                },
                error: function (xhr) {

                    console.log(xhr.responseText);
                    alert("Error has occurred.." + xhr.responseText);
                }
            });
        }  */
    /**/
       /* function TakeData() {
            var mylist = document.getElementById("myList");
            document.getElementById("demo").value = mylist.options[mylist.selectedIndex].text;
        }  */
    /**/
    /*      validate the input data                  */
       /* function Valid() {
            var at = document.getElementById("email").value.indexOf("");
            var phone = document.getElementById("phone").value;
            var secName = document.getElementById("secName").value;
            var name = document.getElementById("name").value;
            var mess = document.getElementById("mess").value;
            var yearCar = document.getElementById("yearCar").value;
            var nameCar = document.getElementById("nameCar").value;
            submitOK = "true";

            if (secName.length > 15 && secName.length < 3) {
                alert("The second name may have from 3 to 15 characters");
                submitOK = "false";
            } 
            if (name.length > 15 && name.length < 3) {
                alert("The name may have from 3 to 15 characters");
                submitOK = "false";
            } 
            if (mess.length > 200 ) {
                alert("The message may have no more then 200 characters");
                submitOK = "false";
            } 

            if (isNaN(yearCar) || yearCar < 1900 || yearCar > 2017) {
                alert("The year of car must be a number between 1900 and 2017");
                submitOK = "false";
            }
            if (nameCar.length > 15 && nameCar.length < 3) {
                alert("The name car may have from 3 to 15 characters");
                submitOK = "false";
            }
            if (at == -1) {
                alert("Not a valid e-mail!");
                submitOK = "false";
            }

            if (submitOK == "false") {
                return false;
            }
        }*/

    /*                        */

</script>
<button class="btn btn-danger" type="button" onclick="GetJson();">Get Json </button>
<button class="btn btn-danger" type="button" onclick="GetSampleData();">Get Sample Data </button>
<button class="btn btn-danger" type="button" onclick="AddOne()">AddOne</button>
<button class="btn btn-danger" type="button" onclick="PostData()">Post Data</button>

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
