@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US
            </h2>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        DATA & TIME
                    </h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT DATE">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SELECT YOUR TIME">
                            </div>
                        </div>
                    </p>


                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <p>
                                <h4>STORE HOURS</h4>
                            </p>
                            MON-WED
                            <p>08:00 AM - 05:00 PM</p>

                            THU
                            <p>08:00 AM - 04:00 PM</p>

                            FRI
                            <p>08:00 AM - 01:00 PM</p>

                            SAT
                            <p>CLOSE</p>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <h4>
                                CHOOSE YOUR SERVICES
                            </h4>
                            <h6>Please select the type of service(s) needed</h6>

                            <br />
                            <p>
                                <input type="checkbox">
                                Transmission
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>
                            <p>
                                <input type="checkbox">
                                VEHICLE
                            </p>

                            <input type="checkbox">
                            Other



                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        YOUR VEHICLE
                    </h4>
                    <p>
                        <form action="action_page.php">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <input class="form-control input-lg" placeholder="YEAR OF CAR">
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <input class="form-control input-lg" placeholder="SELECT YOUR CAR">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control input-lg" placeholder="WRITE YOUR MESSAGE">
                                </div>
                            </div>
                            <br />
                            <h4>PERSONAL DETAILS</h4>
                    <p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="FIRST NAME">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="SECEND NAME">
                            </div>
                        </div>
                        
                        <br />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                    <input type="email" id="email" required="required" class="form-control input-lg" placeholder="EMAIL">
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <input class="form-control input-lg" placeholder="PHONE NUMBER">
                            </div>
                        </div>
                        <br />
                    <p>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="reset" class="btn btn-default btn-lg">CLEAR</button>
                            </div>
                            <div class="col-md-2 col-md-offset-7">
                                <button type="reset" class="btn btn-primary btn-lg" onclick="alert('Thank You!')">SEND</button>
                            </div>
                        </div>
                    </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>SING UP TO SPECIAL OFFERS</h3><br />
            <p>Enter your e-mail and you will get the best</p>
            offers we have directly to your indox
            <br /><br />
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">

                        <input type="email" id="email" required="required" class="form-control" placeholder="ENTER HERE YOUR E-MAIL">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">SEND</button>
                        </span>

                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="col-md-6">
        <div class="text-center">
            <br /><br /><br />
            <h3>TELL TO YOUR FRIENDS</h3><br />
            <p>Some of your friends may kile to visit if you</p>
            recommend us. They'll trust your taste.
            <br /><br />
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <div class="input-group">
                        Facebook    Twitter

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Valifdate email
<form id="form1">
    <label for="email">Email Address</label><br />
    <input type="email" id="email" required="required" /><br />
    <input type="submit" value="submit" />
</form>

<script>
    $('#form1').validate();
</script>-->


<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

</script>
